#protorootfile /Users/puckett/SBS_OFFLINE/install/run_replay_here/e1209019_fullreplay_XXXXX_stream0_seg0_0.root
#protorootfile /Users/puckett/SBS_OFFLINE/OLD/install/run_replay_here/e1209019_replayed_XXXXX_stream0_seg0_0_firstevent0_nevent10000.root
#protorootfile /Users/puckett/SBS_OFFLINE/install/run_replay_here/e1209019_fullreplay_XXXXX_stream0_seg0_0.root

#rootfile /Users/puckett/GMN_ROOTFILES/PASS1_QA/SBS4/rootfiles/e1209019_fullreplay_11500_stream0_seg140_141.root

#protorootfile /Users/puckett/GMN_ROOTFILES/PASS1_QA/SBS9/rootfiles/e1209019_fullreplay_XXXXX_stream0_seg0_9.root

newpage 2 2
title Layers with hits
hbb_gem_Nlayers_hit -nostat
hbb_gem_Nlayers_hitu -nostat
hbb_gem_Nlayers_hitv -nostat
hbb_gem_Nlayers_hituv -nostat

newpage 2 2
title Strip and cluster multiplicities
hbb_gem_NstripsU_layer -logz -drawopt colz -nostat
hbb_gem_NstripsV_layer -logz -drawopt colz -nostat
hbb_gem_NclustU_layer -logz -drawopt colz -nostat
hbb_gem_NclustV_layer -logz -drawopt colz -nostat

newpage 4 3
title Total U strip cluster multiplicities by module 
macro occupancy.C(0,150.0,40.0,0,150.0)

macro occupancy.C(1,51.2,40.96,0,150.0)
macro occupancy.C(2,51.2,40.96,0,150.0)
macro occupancy.C(3,51.2,40.96,0,150.0)

macro occupancy.C(4,150.0,40.0,0,150);
#macro occupancy.C(2,150.0,40.0,0,150);
#macro occupancy.C(3,150.0,40.0,0,150);

macro occupancy.C(5,51.2,40.96,0,150.0)
macro occupancy.C(6,51.2,40.96,0,150.0)
macro occupancy.C(7,51.2,40.96,0,150.0)


macro occupancy.C(8,51.2,61.44,0,150);
macro occupancy.C(9,51.2,61.44,0,150);
macro occupancy.C(10,51.2,61.44,0,150);
macro occupancy.C(11,51.2,61.44,0,150);


newpage 4 3
title Total V strip cluster multiplicities by module 
macro occupancy.C(0,150.0,40.0,1,150.0)

macro occupancy.C(1,51.2,40.96,1,150.0)
macro occupancy.C(2,51.2,40.96,1,150.0)
macro occupancy.C(3,51.2,40.96,1,150.0)

macro occupancy.C(4,150.0,40.0,1,150);
#macro occupancy.C(2,150.0,40.0,1,150);
#macro occupancy.C(3,150.0,40.0,1,150);

macro occupancy.C(5,51.2,40.96,1,150.0)
macro occupancy.C(6,51.2,40.96,1,150.0)
macro occupancy.C(7,51.2,40.96,1,150.0)


macro occupancy.C(8,51.2,61.44,1,150);
macro occupancy.C(9,51.2,61.44,1,150);
macro occupancy.C(10,51.2,61.44,1,150);
macro occupancy.C(11,51.2,61.44,1,150);

newpage 5 2
title Raw strip occupancies by layer
macro stripmult.C(0,0,3840)
macro stripmult.C(1,0,3840)
macro stripmult.C(2,0,3840)
macro stripmult.C(3,0,3840)
macro stripmult.C(4,0,5120)

macro stripmult.C(0,1,3840)
macro stripmult.C(1,1,3072)
macro stripmult.C(2,1,3840)
macro stripmult.C(3,1,3072)
macro stripmult.C(4,1,6144)

newpage 2 3
title Deconvoluted ADCs
hbbgem_ADCmaxsampDeconvU
hbbgem_ADCmaxsampDeconvV
hbbgem_ADCmaxstripDeconvU
hbbgem_ADCmaxstripDeconvV
bb.gem.hit.DeconvADCmaxcomboU bb.gem.track.chi2ndf[bb.gem.hit.trackindex]<10.&&bb.gem.track.nhits[bb.gem.hit.trackindex]>3
bb.gem.hit.DeconvADCmaxcomboV bb.gem.track.chi2ndf[bb.gem.hit.trackindex]<10.&&bb.gem.track.nhits[bb.gem.hit.trackindex]>3

newpage 2 2
title Deconvoluted timing
hbbgem_UtimeMaxDeconv
hbbgem_VtimeMaxDeconv
hbbgem_isampMaxDeconvU
hbbgem_isampMaxDeconvV


newpage 4 3
title Cluster size, timing, ADC correlations
hbb_gem_clustwidthU -title "U/X cluster size"
hbb_gem_clustwidthV -title "V/Y cluster size"
hbb_gem_clustwidthVvsU -drawopt colz -nostat
macro overlay.C("hbb_gem_clust_Utime","hbb_gem_clust_Vtime","U time (ns)","V time (ns)")
hbb_gem_clust_UVtime -drawopt colz -nostat
macro plotfitgaus.C("hbb_gem_clust_deltat",0.5)
hbb_gem_iSampMaxU  -nostat
hbb_gem_iSampMaxV  -nostat
hbb_gem_CorrCoeff_clust
hbb_gem_CorrCoeff_maxstrip
hbb_gem_ADCasym
hbb_gem_ADCasym_vs_ADCavg -drawopt colz

newpage 4 3
title Strip and cluster ADC distributions and correlations
hbb_gem_ADCU_maxsample
hbb_gem_ADCU_maxstrip
hbb_gem_ADCU_maxclustsample
hbb_gem_ADCU_clust
hbb_gem_ADCV_maxsample
hbb_gem_ADCV_maxstrip
hbb_gem_ADCV_maxclustsample
hbb_gem_ADCV_clust
hbb_gem_ADCVvsU_maxsample -drawopt colz
hbb_gem_ADCVvsU_maxstrip -drawopt colz
hbb_gem_ADCVvsU_maxclustsample -drawopt colz
hbb_gem_ADCVvsU_clust -drawopt colz

newpage 3 3
title Tracking statistics
hbb_gem_Ntracks -logy
hbb_gem_TrackNhits
hbb_gem_TrackChi2NDF -logy
hbb_gem_TrackX
hbb_gem_TrackY
hbb_gem_TrackXY -drawopt colz -nostat
hbb_gem_TrackXp
hbb_gem_TrackYp
hbb_gem_TrackXpYp -drawopt colz -nostat

newpage 3 2
title Tracking residuals (inclusive)
macro plotfitgaus.C("hbb_gem_residu_allhits")
hbb_gem_residu_vs_layer -drawopt colz -nostat
hbb_gem_residu_vs_module -drawopt colz -nostat
macro plotfitgaus.C("hbb_gem_residv_allhits")
hbb_gem_residv_vs_layer -drawopt colz -nostat
hbb_gem_residv_vs_module -drawopt colz -nostat
newpage 3 2
title Tracking residuals (exclusive)
macro plotfitgaus.C("hbb_gem_eresidu_allhits")
hbb_gem_eresidu_vs_layer -drawopt colz -nostat
hbb_gem_eresidu_vs_module -drawopt colz -nostat
macro plotfitgaus.C("hbb_gem_eresidv_allhits")
hbb_gem_eresidv_vs_layer -drawopt colz -nostat
hbb_gem_eresidv_vs_module -drawopt colz -nostat

newpage 3 2
title Module 0 (UVA U/V  strip layer 1) efficiencies
hefficiency_vs_x_bb_gem_m0
hefficiency_vs_y_bb_gem_m0
hefficiency_vs_xy_bb_gem_m0 -drawopt colz -nostat
hdidhitxy_bb_gem_m0 -drawopt colz -nostat
macro efficiency.C("hdidhitx_bb_gem_m0","hshouldhitx_bb_gem_m0",0);
macro efficiency.C("hdidhity_bb_gem_m0","hshouldhity_bb_gem_m0",0);

newpage 3 2
title Module 1 (INFN J0 bottom) efficiencies
hefficiency_vs_x_bb_gem_m1
hefficiency_vs_y_bb_gem_m1
hefficiency_vs_xy_bb_gem_m1 -drawopt colz -nostat
hdidhitxy_bb_gem_m1 -drawopt colz -nostat
macro efficiency.C("hdidhitx_bb_gem_m1","hshouldhitx_bb_gem_m1",1);
macro efficiency.C("hdidhity_bb_gem_m1","hshouldhity_bb_gem_m1",1);

newpage 3 2
title Module 2 (INFN J0 middle) efficiencies
hefficiency_vs_x_bb_gem_m2
hefficiency_vs_y_bb_gem_m2
hefficiency_vs_xy_bb_gem_m2 -drawopt colz -nostat
hdidhitxy_bb_gem_m2 -drawopt colz -nostat
macro efficiency.C("hdidhitx_bb_gem_m2","hshouldhitx_bb_gem_m2",2);
macro efficiency.C("hdidhity_bb_gem_m2","hshouldhity_bb_gem_m2",2);

newpage 3 2
title Module 3 (INFN J0 top) efficiencies
hefficiency_vs_x_bb_gem_m3
hefficiency_vs_y_bb_gem_m3
hefficiency_vs_xy_bb_gem_m3 -drawopt colz -nostat
hdidhitxy_bb_gem_m3 -drawopt colz -nostat
macro efficiency.C("hdidhitx_bb_gem_m3","hshouldhitx_bb_gem_m3",3);
macro efficiency.C("hdidhity_bb_gem_m3","hshouldhity_bb_gem_m3",3);

newpage 3 2
title Module 4 (UVA U/V strip layer 2) efficiencies
hefficiency_vs_x_bb_gem_m4
hefficiency_vs_y_bb_gem_m4
hefficiency_vs_xy_bb_gem_m4 -drawopt colz -nostat
hdidhitxy_bb_gem_m4 -drawopt colz -nostat
macro efficiency.C("hdidhitx_bb_gem_m4","hshouldhitx_bb_gem_m4",4);
macro efficiency.C("hdidhity_bb_gem_m4","hshouldhity_bb_gem_m4",4);

newpage 3 2
title Module 5 (INFN J2 bottom) efficiencies
hefficiency_vs_x_bb_gem_m5
hefficiency_vs_y_bb_gem_m5
hefficiency_vs_xy_bb_gem_m5 -drawopt colz -nostat
hdidhitxy_bb_gem_m5 -drawopt colz -nostat
macro efficiency.C("hdidhitx_bb_gem_m5","hshouldhitx_bb_gem_m5",5);
macro efficiency.C("hdidhity_bb_gem_m5","hshouldhity_bb_gem_m5",5);

newpage 3 2
title Module 6 (INFN J2 middle) efficiencies
hefficiency_vs_x_bb_gem_m6
hefficiency_vs_y_bb_gem_m6
hefficiency_vs_xy_bb_gem_m6 -drawopt colz -nostat
hdidhitxy_bb_gem_m6 -drawopt colz -nostat
macro efficiency.C("hdidhitx_bb_gem_m6","hshouldhitx_bb_gem_m6",6);
macro efficiency.C("hdidhity_bb_gem_m6","hshouldhity_bb_gem_m6",6);

newpage 3 2
title Module 7 (INFN J2 top) efficiencies
hefficiency_vs_x_bb_gem_m7
hefficiency_vs_y_bb_gem_m7
hefficiency_vs_xy_bb_gem_m7 -drawopt colz -nostat
hdidhitxy_bb_gem_m7 -drawopt colz -nostat
macro efficiency.C("hdidhitx_bb_gem_m7","hshouldhitx_bb_gem_m7",7);
macro efficiency.C("hdidhity_bb_gem_m7","hshouldhity_bb_gem_m7",7);

newpage 3 2
title Module 8 (UVA X/Y top) efficiencies
hefficiency_vs_x_bb_gem_m8
hefficiency_vs_y_bb_gem_m8
hefficiency_vs_xy_bb_gem_m8 -drawopt colz -nostat
hdidhitxy_bb_gem_m8 -drawopt colz -nostat
macro efficiency.C("hdidhitx_bb_gem_m8","hshouldhitx_bb_gem_m8",8);
macro efficiency.C("hdidhity_bb_gem_m8","hshouldhity_bb_gem_m8",8);

newpage 3 2
title Module 9 (UVA X/Y mid-up) efficiencies
hefficiency_vs_x_bb_gem_m9
hefficiency_vs_y_bb_gem_m9
hefficiency_vs_xy_bb_gem_m9 -drawopt colz -nostat
hdidhitxy_bb_gem_m9 -drawopt colz -nostat
macro efficiency.C("hdidhitx_bb_gem_m9","hshouldhitx_bb_gem_m9",9);
macro efficiency.C("hdidhity_bb_gem_m9","hshouldhity_bb_gem_m9",9);

newpage 3 2
title Module 10 (UVA X/Y mid-down) efficiencies
hefficiency_vs_x_bb_gem_m10
hefficiency_vs_y_bb_gem_m10
hefficiency_vs_xy_bb_gem_m10 -drawopt colz -nostat
hdidhitxy_bb_gem_m10 -drawopt colz -nostat
macro efficiency.C("hdidhitx_bb_gem_m10","hshouldhitx_bb_gem_m10",10);
macro efficiency.C("hdidhity_bb_gem_m10","hshouldhity_bb_gem_m10",10);

newpage 3 2
title Module 11 (UVA X/Y bottom) efficiencies
hefficiency_vs_x_bb_gem_m11
hefficiency_vs_y_bb_gem_m11
hefficiency_vs_xy_bb_gem_m11 -drawopt colz -nostat
hdidhitxy_bb_gem_m11 -drawopt colz -nostat
macro efficiency.C("hdidhitx_bb_gem_m11","hshouldhitx_bb_gem_m11",11);
macro efficiency.C("hdidhity_bb_gem_m11","hshouldhity_bb_gem_m11",11);


newpage 3 2
title Layer 0 efficiencies
hefficiency_x_bb_gem_layer0
hefficiency_y_bb_gem_layer0
hefficiency_xy_bb_gem_layer0 -drawopt colz -nostat
hdidhit_xy_bb_gem_layer0 -drawopt colz -nostat
macro efficiency_layer.C("hdidhit_x_bb_gem_layer0","hshouldhit_x_bb_gem_layer0",0);
macro efficiency_layer.C("hdidhit_y_bb_gem_layer0","hshouldhit_y_bb_gem_layer0",0);

newpage 3 2
title Layer 1 efficiencies
hefficiency_x_bb_gem_layer1
hefficiency_y_bb_gem_layer1
hefficiency_xy_bb_gem_layer1 -drawopt colz -nostat
hdidhit_xy_bb_gem_layer1 -drawopt colz -nostat
macro efficiency_layer.C("hdidhit_x_bb_gem_layer1","hshouldhit_x_bb_gem_layer1",1);
macro efficiency_layer.C("hdidhit_y_bb_gem_layer1","hshouldhit_y_bb_gem_layer1",1);

newpage 3 2
title Layer 2 efficiencies
hefficiency_x_bb_gem_layer2
hefficiency_y_bb_gem_layer2
hefficiency_xy_bb_gem_layer2 -drawopt colz -nostat
hdidhit_xy_bb_gem_layer2 -drawopt colz -nostat
macro efficiency_layer.C("hdidhit_x_bb_gem_layer2","hshouldhit_x_bb_gem_layer2",2);
macro efficiency_layer.C("hdidhit_y_bb_gem_layer2","hshouldhit_y_bb_gem_layer2",2);

newpage 3 2
title Layer 3 efficiencies
hefficiency_x_bb_gem_layer3
hefficiency_y_bb_gem_layer3
hefficiency_xy_bb_gem_layer3 -drawopt colz -nostat
hdidhit_xy_bb_gem_layer3 -drawopt colz -nostat
macro efficiency_layer.C("hdidhit_x_bb_gem_layer3","hshouldhit_x_bb_gem_layer3",3);
macro efficiency_layer.C("hdidhit_y_bb_gem_layer3","hshouldhit_y_bb_gem_layer3",3);

newpage 3 2
title Layer 4 efficiencies
hefficiency_x_bb_gem_layer4
hefficiency_y_bb_gem_layer4
hefficiency_xy_bb_gem_layer4 -drawopt colz -nostat
hdidhit_xy_bb_gem_layer4 -drawopt colz -nostat
macro efficiency_layer.C("hdidhit_x_bb_gem_layer4","hshouldhit_x_bb_gem_layer4",4);
macro efficiency_layer.C("hdidhit_y_bb_gem_layer4","hshouldhit_y_bb_gem_layer4",4);


#newpage 4 3
newpage 4 3
title Module average efficiencies
macro efficiency.C("hdidhitx_bb_gem_m0","hshouldhitx_bb_gem_m0",0);
macro efficiency.C("hdidhitx_bb_gem_m1","hshouldhitx_bb_gem_m1",1);
macro efficiency.C("hdidhitx_bb_gem_m2","hshouldhitx_bb_gem_m2",2);
macro efficiency.C("hdidhitx_bb_gem_m3","hshouldhitx_bb_gem_m3",3);
macro efficiency.C("hdidhitx_bb_gem_m4","hshouldhitx_bb_gem_m4",4);
macro efficiency.C("hdidhitx_bb_gem_m5","hshouldhitx_bb_gem_m5",5);
macro efficiency.C("hdidhitx_bb_gem_m6","hshouldhitx_bb_gem_m6",6);
macro efficiency.C("hdidhitx_bb_gem_m7","hshouldhitx_bb_gem_m7",7);
macro efficiency.C("hdidhitx_bb_gem_m8","hshouldhitx_bb_gem_m8",8);
macro efficiency.C("hdidhitx_bb_gem_m9","hshouldhitx_bb_gem_m9",9);
macro efficiency.C("hdidhitx_bb_gem_m10","hshouldhitx_bb_gem_m10",10);
macro efficiency.C("hdidhitx_bb_gem_m11","hshouldhitx_bb_gem_m11",11);


#newpage 3 2
#title Layer hit maps on good tracks
#macro GEM_hit_map.C(0);
#macro GEM_hit_map.C(1);
#macro GEM_hit_map.C(2);
#macro GEM_hit_map.C(3);
#macro GEM_hit_map.C(4);



newpage 3 2
title Tracks properties, target
htr_tg_x
htr_tg_y
htr_tg_dx
htr_tg_dy
htr_p 
bb.tr.vz[0] 

newpage 2 2
title PID
heps_over_etot 
macro overlay.C("hetot_over_p", "hEoverP_electron", "E/p (all tracks)", "E/p (electrons)")
heoverP_vs_PS -drawopt colz -nostat
hepreshower 

newpage 2 2
title Electron kinematics
hq2 -drawopt colz -nostat
hw2 -drawopt colz -nostat
hnu -drawopt colz -nostat
heps -drawopt colz -nostat


newpage 3 2
title Various GEM Strip Times by module (max strip in cluster on track)
bb.gem.hit.UtimeMaxStrip:bb.gem.hit.module>>hUtimeMaxStripVsModule(12,-0.5,11.5,150,-100,200) -drawopt colz bb.gem.track.nhits[bb.gem.hit.trackindex]>3&&bb.gem.track.chi2ndf[bb.gem.hit.trackindex]<10.
bb.gem.hit.UtimeMaxStripFit:bb.gem.hit.module>>hUtimeMaxStripFitVsModule(12,-0.5,11.5,150,-100,200) -drawopt colz bb.gem.track.nhits[bb.gem.hit.trackindex]>3&&bb.gem.track.chi2ndf[bb.gem.hit.trackindex]<10.
bb.gem.hit.UtimeMaxStripDeconv:bb.gem.hit.module>>hUtimeMaxStripDeconvVsModule(12,-0.5,11.5,150,-100,200) -drawopt colz bb.gem.track.nhits[bb.gem.hit.trackindex]>3&&bb.gem.track.chi2ndf[bb.gem.hit.trackindex]<10.
bb.gem.hit.VtimeMaxStrip:bb.gem.hit.module>>hVtimeMaxStripVsModule(12,-0.5,11.5,150,-100,200) -drawopt colz bb.gem.track.nhits[bb.gem.hit.trackindex]>3&&bb.gem.track.chi2ndf[bb.gem.hit.trackindex]<10.
bb.gem.hit.VtimeMaxStripFit:bb.gem.hit.module>>hVtimeMaxStripFitVsModule(12,-0.5,11.5,150,-100,200) -drawopt colz bb.gem.track.nhits[bb.gem.hit.trackindex]>3&&bb.gem.track.chi2ndf[bb.gem.hit.trackindex]<10.
bb.gem.hit.VtimeMaxStripDeconv:bb.gem.hit.module>>hVtimeMaxStripDeconvVsModule(12,-0.5,11.5,150,-100,200) -drawopt colz bb.gem.track.nhits[bb.gem.hit.trackindex]>3&&bb.gem.track.chi2ndf[bb.gem.hit.trackindex]<10.

newpage 3 2
title GEM Strip time vs amplitude, module, trigtime
bb.gem.hit.UtimeMaxStripFit:bb.gem.hit.ADCmaxsampU>>htaU(150,0,3000,150,-100,200) -drawopt colz bb.gem.track.chi2ndf[bb.gem.hit.trackindex]<10.&&bb.gem.track.nhits[bb.gem.hit.trackindex]>3
bb.gem.hit.UtimeMaxStripFit:bb.gem.trigtime>>httU(50,-25,25,150,-100,200) -drawopt colz bb.gem.track.chi2ndf[bb.gem.hit.trackindex]<10.&&bb.gem.track.nhits[bb.gem.hit.trackindex]>3
bb.gem.hit.UtimeMaxStripFit:bb.gem.hit.module>>htmU(12,-0.5,11.5,150,-100,200) -drawopt colz bb.gem.track.chi2ndf[bb.gem.hit.trackindex]<10.&&bb.gem.track.nhits[bb.gem.hit.trackindex]>3
bb.gem.hit.VtimeMaxStripFit:bb.gem.hit.ADCmaxsampV>>htaV(150,0,3000,150,-100,200) -drawopt colz bb.gem.track.chi2ndf[bb.gem.hit.trackindex]<10.&&bb.gem.track.nhits[bb.gem.hit.trackindex]>3
bb.gem.hit.VtimeMaxStripFit:bb.gem.trigtime>>httV(50,-25,25,150,-100,200) -drawopt colz bb.gem.track.chi2ndf[bb.gem.hit.trackindex]<10.&&bb.gem.track.nhits[bb.gem.hit.trackindex]>3
bb.gem.hit.VtimeMaxStripFit:bb.gem.hit.module>>htmV(12,-0.5,11.5,150,-100,200) -drawopt colz bb.gem.track.chi2ndf[bb.gem.hit.trackindex]<10.&&bb.gem.track.nhits[bb.gem.hit.trackindex]>3

newpage 2 1
title new GEM strip time correlations
bb.gem.hit.UtimeMaxStripFit-bb.gem.hit.VtimeMaxStripFit>>hdt(150,-50,50) bb.gem.track.chi2ndf[bb.gem.hit.trackindex]<10.&&bb.gem.track.nhits[bb.gem.hit.trackindex]>3
bb.gem.hit.UtimeMaxStripFit:bb.gem.hit.VtimeMaxStripFit>>htUV(150,-100,200,150,-100,200) bb.gem.track.chi2ndf[bb.gem.hit.trackindex]<10.&&bb.gem.track.nhits[bb.gem.hit.trackindex]>3 -drawopt colz


newpage 3 2
title Deconvolution Misc. 
bb.gem.hit.icombomaxUstripDeconv:bb.gem.hit.module>>hicmU(12,-0.5,11.5,7,-0.5,6.5) bb.gem.track.chi2ndf[bb.gem.hit.trackindex]<10.&&bb.gem.track.nhits[bb.gem.hit.trackindex]>3 -drawopt colz
bb.gem.hit.UtimeMaxStripDeconv:bb.gem.hit.module>>htdmU(12,-0.5,11.5,150,-100,200) bb.gem.track.chi2ndf[bb.gem.hit.trackindex]<10.&&bb.gem.track.nhits[bb.gem.hit.trackindex]>3 -drawopt colz
bb.gem.hit.UtimeMaxStripDeconv:bb.gem.trigtime>>htdttU(50,-25,25,150,-100,200) bb.gem.track.chi2ndf[bb.gem.hit.trackindex]<10.&&bb.gem.track.nhits[bb.gem.hit.trackindex]>3 -drawopt colz
bb.gem.hit.icombomaxVstripDeconv:bb.gem.hit.module>>hicmV(12,-0.5,11.5,7,-0.5,6.5) bb.gem.track.chi2ndf[bb.gem.hit.trackindex]<10.&&bb.gem.track.nhits[bb.gem.hit.trackindex]>3 -drawopt colz
bb.gem.hit.VtimeMaxStripDeconv:bb.gem.hit.module>>htdmV(12,-0.5,11.5,150,-100,200) bb.gem.track.chi2ndf[bb.gem.hit.trackindex]<10.&&bb.gem.track.nhits[bb.gem.hit.trackindex]>3 -drawopt colz
bb.gem.hit.VtimeMaxStripDeconv:bb.gem.trigtime>>htdttV(50,-25,25,150,-100,200) bb.gem.track.chi2ndf[bb.gem.hit.trackindex]<10.&&bb.gem.track.nhits[bb.gem.hit.trackindex]>3 -drawopt colz

newpage 3 2
title Deconvoluted time and ADC correlations
bb.gem.hit.UtimeMaxStripDeconv-bb.gem.hit.VtimeMaxStripDeconv>>hdtDeconv(150,-75,75) bb.gem.track.chi2ndf[bb.gem.hit.trackindex]<10.&&bb.gem.track.nhits[bb.gem.hit.trackindex]>3
bb.gem.hit.UtimeMaxStripDeconv:bb.gem.hit.VtimeMaxStripDeconv>>htDeconvUV(150,-100,200,150,-100,200) -drawopt colz bb.gem.track.chi2ndf[bb.gem.hit.trackindex]<10.&&bb.gem.track.nhits[bb.gem.hit.trackindex]>3
bb.gem.hit.ADCasym_deconv>>hasymd(200,-1,1) bb.gem.track.chi2ndf[bb.gem.hit.trackindex]<10.&&bb.gem.track.nhits[bb.gem.hit.trackindex]>3 -tree T
bb.gem.hit.ccor_strip_deconv>>hccorsd(200,-1,1) bb.gem.track.chi2ndf[bb.gem.hit.trackindex]<10.&&bb.gem.track.nhits[bb.gem.hit.trackindex]>3 -tree T
bb.gem.hit.ccor_clust_deconv>>hccorcd(200,-1,1) bb.gem.track.chi2ndf[bb.gem.hit.trackindex]<10.&&bb.gem.track.nhits[bb.gem.hit.trackindex]>3 -tree T
bb.gem.hit.ADCasym_deconv:bb.gem.hit.ADCavg_deconv>>hasymd_adc(200,0,10000,100,-1,1) -drawopt colz bb.gem.track.chi2ndf[bb.gem.hit.trackindex]<10.&&bb.gem.track.nhits[bb.gem.hit.trackindex]>3 -tree T


newpage 2 3
title Cluster-summed deconvoluted ADCs
bb.gem.hit.ADCmaxsampUclust_deconv>>hAUDs(250,-500,4500) bb.gem.track.chi2ndf[bb.gem.hit.trackindex]<10.&&bb.gem.track.nhits[bb.gem.hit.trackindex]>3  -tree T
bb.gem.hit.ADCmaxsampVclust_deconv>>hAVDs(250,-500,4500) bb.gem.track.chi2ndf[bb.gem.hit.trackindex]<10.&&bb.gem.track.nhits[bb.gem.hit.trackindex]>3    -tree T
bb.gem.hit.ADCmaxcomboUclust_deconv>>hAUDc(250,-500,4500) bb.gem.track.chi2ndf[bb.gem.hit.trackindex]<10.&&bb.gem.track.nhits[bb.gem.hit.trackindex]>3    -tree T
bb.gem.hit.ADCmaxcomboVclust_deconv>>hAVDc(250,-500,4500) bb.gem.track.chi2ndf[bb.gem.hit.trackindex]<10.&&bb.gem.track.nhits[bb.gem.hit.trackindex]>3    -tree T
bb.gem.hit.ADCU_deconv>>hAUD(250,-500,9500) bb.gem.track.chi2ndf[bb.gem.hit.trackindex]<10.&&bb.gem.track.nhits[bb.gem.hit.trackindex]>3    -tree T
bb.gem.hit.ADCV_deconv>>hAVD(250,-500,9500) bb.gem.track.chi2ndf[bb.gem.hit.trackindex]<10.&&bb.gem.track.nhits[bb.gem.hit.trackindex]>3    -tree T


newpage 3 2
title Enhanced chi2, hit and track times
bb.gem.track.chi2ndf_hitquality[0]>>hchi2q(200,0,100) bb.ps.e>0.2&&bb.gem.track.nhits[0]>3 -tree T 
bb.gem.track.t0[0]>>htrackt0(100,-50,50) bb.ps.e>0.2&&bb.gem.track.nhits[0]>3 -tree T
bb.gem.track.ngoodhits[0]>>hngoodhits(6,-0.5,5.5) bb.ps.e>0.2 -tree T
bb.gem.hit.Tavg_corr>>htcorr(150,-75,75) bb.ps.e>0.2&&bb.gem.track.nhits[bb.gem.hit.trackindex]>3 -tree T 
bb.gem.hit.Tavg_corr-bb.gem.track.t0[bb.gem.hit.trackindex]>>htdiffhittrack(100,-50,50) bb.ps.e>0.2&&bb.gem.track.nhits[bb.gem.hit.trackindex]>3 -tree T 
bb.gem.hit.Tavg_corr:bb.gem.track.t0[bb.gem.hit.trackindex]>>hthitvst0track(100,-50,50,100,-50,50) bb.ps.e>0.2&&bb.gem.track.nhits[bb.gem.hit.trackindex]>3 -tree T -drawopt colz




