# Configuration file for the online GUI
#
#  All lines containing "#" are treated as comments (ignored)
#  Last line MUST be blank.
#  Multiple spaces are treated as one space.
#  More details in README

include rootfilenames.cfg

#fadc signals
newpage 2 3 #logy
title fadc signals
ha_pL -title "" -nostat -type colz
ha_pR -title "" -nostat -type colz
ha_amp_pL -title "" -nostat -type colz
ha_amp_pR -title "" -nostat -type colz
ha_pedL -title "" -nostat -type colz
ha_pedR -title "" -nostat -type colz

#tot v fadc
# using the charge of fadc signal
newpage 4 4 #logy
title TOT versus fADC a_p Left 32-47 #64-79 #32-47#0-15
multiplot 32 47 hTOTvApL_BarXXXXX -type colz

newpage 4 4 #logy
title TOT versus fADC a_p Right 32-47
multiplot 32 47 hTOTvApR_BarXXXXX -type colz

newpage 4 4 #logy
title TOT versus fADC a_p Left 48-63#80-88#48-63#16-31
multiplot 48 63 hTOTvApL_BarXXXXX -type colz

newpage 4 4 #logy
title TOT versus fADC a_p Right 48-63
multiplot 48 63 hTOTvApR_BarXXXXX -type colz

##using amplitude of fadc signal
#newpage 4 4 #logy
#title TOT versus fADC a_amp_p Left 0-15
#multiplot 0 15 hTOTvAmppL_BarXXXXX -type colz

#newpage 4 4 #logy
#title TOT versus fADC a_amp_p Right 0-15
#multiplot 0 15 hTOTvAmppR_BarXXXXX -type colz

#newpage 4 4 #logy
#title TOT versus fADC a_amp_p Left 16-31
#multiplot 16 31 hTOTvAmppL_BarXXXXX -type colz

#newpage 4 4 #logy
#title TOT versus fADC a_amp_p Right 16-31
#multiplot 16 31 hTOTvAmppR_BarXXXXX -type colz

