# Configuration file for the online GUI
#
#  All lines containing "#" are treated as comments (ignored)
#  Last line MUST be blank.
#  Multiple spaces are treated as one space.
#  More details in README

include rootfilenames.cfg

#reference hits
newpage 2 2 logy
title Raw Ref hits (LE red, TE blue)
hRefMult_L -title "" #-nostat
hRefMult_R -title "" #-nostat
macro RawRefTDCdrawL.C()
macro RawRefTDCdrawR.C()

#2d plots
newpage 2 1
title Leading Edge Times L and R
h2d_RawLEL -type colz
h2d_RawLER -type colz

newpage 2 1
title Time over threshold L and R
h2d_RawTotL -type colz
h2d_RawTotR -type colz

newpage 2 1
title Hit Multiplicity L and R
h2d_MultL -type colz
h2d_MultR -type colz

newpage 2 1
title Bar Mean Time and Multiplicities 1D
h2d_BarMT -type colz
h2d_BarTD -type colz

#tdc multiplicity and hit bars
newpage 1 1 
title PMTs hit 1D distributions
macro PMTMultdraw.C

#plotting all raw TDC leading edge and trailing edge spectra
#left 0-8
newpage 3 3
title Left LE (red) + TE (blue) Bars 0-8
macro RawTDCdrawL.C(0)
macro RawTDCdrawL.C(1)
macro RawTDCdrawL.C(2)
macro RawTDCdrawL.C(3)
macro RawTDCdrawL.C(4)
macro RawTDCdrawL.C(5)
macro RawTDCdrawL.C(6)
macro RawTDCdrawL.C(7)
macro RawTDCdrawL.C(8)
#right 0-8
newpage 3 3
title Right LE (red) + TE (blue) Bars 0-8
macro RawTDCdrawR.C(0)
macro RawTDCdrawR.C(1)
macro RawTDCdrawR.C(2)
macro RawTDCdrawR.C(3)
macro RawTDCdrawR.C(4)
macro RawTDCdrawR.C(5)
macro RawTDCdrawR.C(6)
macro RawTDCdrawR.C(7)
macro RawTDCdrawR.C(8)
#left 9-17
newpage 3 3
title Left LE (red) + TE (blue) Bars 9-17
macro RawTDCdrawL.C(9)
macro RawTDCdrawL.C(10)
macro RawTDCdrawL.C(11)
macro RawTDCdrawL.C(12)
macro RawTDCdrawL.C(13)
macro RawTDCdrawL.C(14)
macro RawTDCdrawL.C(15)
macro RawTDCdrawL.C(16)
macro RawTDCdrawL.C(17)
#right 9-17
newpage 3 3
title Right LE (red) + TE (blue) Bars 9-17
macro RawTDCdrawR.C(9)
macro RawTDCdrawR.C(10)
macro RawTDCdrawR.C(11)
macro RawTDCdrawR.C(12)
macro RawTDCdrawR.C(13)
macro RawTDCdrawR.C(14)
macro RawTDCdrawR.C(15)
macro RawTDCdrawR.C(16)
macro RawTDCdrawR.C(17)
#left 18-26
newpage 3 3
title Left LE (red) + TE (blue) Bars 18-26
macro RawTDCdrawL.C(18)
macro RawTDCdrawL.C(19)
macro RawTDCdrawL.C(20)
macro RawTDCdrawL.C(21)
macro RawTDCdrawL.C(22)
macro RawTDCdrawL.C(23)
macro RawTDCdrawL.C(24)
macro RawTDCdrawL.C(25)
macro RawTDCdrawL.C(26)
#right 18-26
newpage 3 3
title Right LE (red) + TE (blue) Bars 18-26
macro RawTDCdrawR.C(18)
macro RawTDCdrawR.C(19)
macro RawTDCdrawR.C(20)
macro RawTDCdrawR.C(21)
macro RawTDCdrawR.C(22)
macro RawTDCdrawR.C(23)
macro RawTDCdrawR.C(24)
macro RawTDCdrawR.C(25)
macro RawTDCdrawR.C(26)
#left 27-35
newpage 3 3
title Left LE (red) + TE (blue) Bars 26-35
macro RawTDCdrawL.C(27)
macro RawTDCdrawL.C(28)
macro RawTDCdrawL.C(29)
macro RawTDCdrawL.C(30)
macro RawTDCdrawL.C(31)
macro RawTDCdrawL.C(32)
macro RawTDCdrawL.C(33)
macro RawTDCdrawL.C(34)
macro RawTDCdrawL.C(35)
#right 27-35
newpage 3 3
title Right LE (red) + TE (blue) Bars 26-35
macro RawTDCdrawR.C(27)
macro RawTDCdrawR.C(28)
macro RawTDCdrawR.C(29)
macro RawTDCdrawR.C(30)
macro RawTDCdrawR.C(31)
macro RawTDCdrawR.C(32)
macro RawTDCdrawR.C(33)
macro RawTDCdrawR.C(34)
macro RawTDCdrawR.C(35)
#left 36-44
newpage 3 3
title Left LE (red) + TE (blue) Bars 36-44
macro RawTDCdrawL.C(36)
macro RawTDCdrawL.C(37)
macro RawTDCdrawL.C(38)
macro RawTDCdrawL.C(39)
macro RawTDCdrawL.C(40)
macro RawTDCdrawL.C(41)
macro RawTDCdrawL.C(42)
macro RawTDCdrawL.C(43)
macro RawTDCdrawL.C(44)
#right 36-44
newpage 3 3
title Right LE (red) + TE (blue) Bars 36-44
macro RawTDCdrawR.C(36)
macro RawTDCdrawR.C(37)
macro RawTDCdrawR.C(38)
macro RawTDCdrawR.C(39)
macro RawTDCdrawR.C(40)
macro RawTDCdrawR.C(41)
macro RawTDCdrawR.C(42)
macro RawTDCdrawR.C(43)
macro RawTDCdrawR.C(44)
#left 45-53
newpage 3 3
title Left LE (red) + TE (blue) Bars 45-53
macro RawTDCdrawL.C(45)
macro RawTDCdrawL.C(46)
macro RawTDCdrawL.C(47)
macro RawTDCdrawL.C(48)
macro RawTDCdrawL.C(49)
macro RawTDCdrawL.C(50)
macro RawTDCdrawL.C(51)
macro RawTDCdrawL.C(52)
macro RawTDCdrawL.C(53)
#right 45-53
newpage 3 3
title Right LE (red) + TE (blue) Bars 45-53
macro RawTDCdrawR.C(45)
macro RawTDCdrawR.C(46)
macro RawTDCdrawR.C(47)
macro RawTDCdrawR.C(48)
macro RawTDCdrawR.C(49)
macro RawTDCdrawR.C(50)
macro RawTDCdrawR.C(51)
macro RawTDCdrawR.C(52)
macro RawTDCdrawR.C(53)
#left 54-62
newpage 3 3
title Left LE (red) + TE (blue) Bars 54-62
macro RawTDCdrawL.C(54)
macro RawTDCdrawL.C(55)
macro RawTDCdrawL.C(56)
macro RawTDCdrawL.C(57)
macro RawTDCdrawL.C(58)
macro RawTDCdrawL.C(59)
macro RawTDCdrawL.C(60)
macro RawTDCdrawL.C(61)
macro RawTDCdrawL.C(62)
#right 54-62
newpage 3 3
title Right LE (red) + TE (blue) Bars 54-62
macro RawTDCdrawR.C(54)
macro RawTDCdrawR.C(55)
macro RawTDCdrawR.C(56)
macro RawTDCdrawR.C(57)
macro RawTDCdrawR.C(58)
macro RawTDCdrawR.C(59)
macro RawTDCdrawR.C(60)
macro RawTDCdrawR.C(61)
macro RawTDCdrawR.C(62)
#left 63-71
newpage 3 3
title Left LE (red) + TE (blue) Bars 63-71
macro RawTDCdrawL.C(63)
macro RawTDCdrawL.C(64)
macro RawTDCdrawL.C(65)
macro RawTDCdrawL.C(66)
macro RawTDCdrawL.C(67)
macro RawTDCdrawL.C(68)
macro RawTDCdrawL.C(69)
macro RawTDCdrawL.C(70)
macro RawTDCdrawL.C(71)
#right 63-71
newpage 3 3
title Right LE (red) + TE (blue) Bars 63-71
macro RawTDCdrawR.C(63)
macro RawTDCdrawR.C(64)
macro RawTDCdrawR.C(65)
macro RawTDCdrawR.C(66)
macro RawTDCdrawR.C(67)
macro RawTDCdrawR.C(68)
macro RawTDCdrawR.C(69)
macro RawTDCdrawR.C(70)
macro RawTDCdrawR.C(71)
#left 72-80
newpage 3 3
title Left LE (red) + TE (blue) Bars 72-80
macro RawTDCdrawL.C(72)
macro RawTDCdrawL.C(73)
macro RawTDCdrawL.C(74)
macro RawTDCdrawL.C(75)
macro RawTDCdrawL.C(76)
macro RawTDCdrawL.C(77)
macro RawTDCdrawL.C(78)
macro RawTDCdrawL.C(79)
macro RawTDCdrawL.C(80)
#right 72-80
newpage 3 3
title Right LE (red) + TE (blue) Bars 72-80
macro RawTDCdrawR.C(72)
macro RawTDCdrawR.C(73)
macro RawTDCdrawR.C(74)
macro RawTDCdrawR.C(75)
macro RawTDCdrawR.C(76)
macro RawTDCdrawR.C(77)
macro RawTDCdrawR.C(78)
macro RawTDCdrawR.C(79)
macro RawTDCdrawR.C(80)
#left 81-88
newpage 3 3
title Left LE (red) + TE (blue) Bars 81-88
macro RawTDCdrawL.C(81)
macro RawTDCdrawL.C(82)
macro RawTDCdrawL.C(83)
macro RawTDCdrawL.C(84)
macro RawTDCdrawL.C(85)
macro RawTDCdrawL.C(86)
macro RawTDCdrawL.C(87)
macro RawTDCdrawL.C(88)
#right 81-88
newpage 3 3
title Right LE (red) + TE (blue) Bars 81-88
macro RawTDCdrawR.C(81)
macro RawTDCdrawR.C(82)
macro RawTDCdrawR.C(83)
macro RawTDCdrawR.C(84)
macro RawTDCdrawR.C(85)
macro RawTDCdrawR.C(86)
macro RawTDCdrawR.C(87)
macro RawTDCdrawR.C(88)


## plotting TDC multiplicities in each bar
##left 0-15
#newpage 4 4 logy
#title TDC Hit Multiplicity Left 0-15
#multiplot 0 15 hMultiplicity_BarXXXXX_L
##right 0-15
#newpage 4 4 logy
#title TDC Hit Multiplicity Right 0-15
#multiplot 0 15 hMultiplicity_BarXXXXX_R
##left 16-31
#newpage 4 4 logy
#title TDC Hit Multiplicity Left 16-31
#multiplot 16 31 hMultiplicity_BarXXXXX_L
##right 16-31
#newpage 4 4 logy
#title TDC Hit Multiplicity Right 16-31
#multiplot 16 31 hMultiplicity_BarXXXXX_R
##left 32-47
#newpage 4 4 logy
#title TDC Hit Multiplicity Left 32-47
#multiplot 32 47 hMultiplicity_BarXXXXX_L
##right 32-47
#newpage 4 4 logy
#title TDC Hit Multiplicity Right 32-47
#multiplot 32 47 hMultiplicity_BarXXXXX_R
##left 48-63
#newpage 4 4 logy
#title TDC Hit Multiplicity Left 48-63
#multiplot 48 63 hMultiplicity_BarXXXXX_L
##right 48-63
#newpage 4 4 logy
#title TDC Hit Multiplicity Right 48-63
#multiplot 48 63 hMultiplicity_BarXXXXX_R
##left 64-79
#newpage 4 4 logy
#title TDC Hit Multiplicity Left 64-79
#multiplot 64 79 hMultiplicity_BarXXXXX_L
##right 64-79
#newpage 4 4 logy
#title TDC Hit Multiplicity Right 64-79
#multiplot 64 79 hMultiplicity_BarXXXXX_R
##left 80-88
#newpage 4 4 logy
#title TDC Hit Multiplicity Left 80-88
#multiplot 64 79 hMultiplicity_BarXXXXX_L
##right 80-88
#newpage 4 4 logy
#title TDC Hit Multiplicity Right 80-88
#multiplot 80 88 hMultiplicity_BarXXXXX_R