protorootfile /chafs2/work1/sbs/Rootfiles/gmn_replayed_XXXXX_stream0_seg0_0_firstevent0_nevent50000.root
goldenrootfile /chafs2/work1/sbs/Rootfiles/gmn_replayed_12816_stream0_seg0_0_firstevent0_nevent50000.root

# these are the so-called "critical" plots we want the shift crews to monitor closely:
# including: 
# 1. BBCAL trigger time
# 2. HCAL ADC time spectrum
# 3. BBCAL preshower and shower cluster energy sum distributions
# 4. GEM efficiencies
# 5. Maybe GEM ADC distributions?

newpage 2 2
title Beam
frastxy1 -drawopt colz -nostat
frastxy2 -drawopt colz -nostat
targ_xy -drawopt colz -nostat
macro SBSBCM.C()

newpage 2 2 
title BBCAL trigger TDC info
macro TreeDraw.C("bb.tdctrig.tdc>>hBBtrigtdc0(250,0,1000)","bb.tdctrig.tdcelemID==0&&fEvtHdr.fTrigBits==1")
#macro TreeDraw.C("bb.tdctrig.tdc>>hBBtrigtdc1(250,0,1000)","bb.tdctrig.tdcelemID==1")
#macro TreeDraw.C("bb.tdctrig.tdc>>hBBtrigtdc2(250,0,1000)","bb.tdctrig.tdcelemID==2")
macro TreeDraw.C("bb.tdctrig.tdc>>hBBtrigtdc3(250,0,1000)","bb.tdctrig.tdcelemID==3&&fEvtHdr.fTrigBits==1")
macro TreeDraw.C("bb.tdctrig.tdc>>hBBtrigtdc4(250,0,1000)","bb.tdctrig.tdcelemID==4&&fEvtHdr.fTrigBits==1")
macro TreeDraw.C("bb.tdctrig.tdc>>hBBtrigtdc5(250,0,1000)","bb.tdctrig.tdcelemID==5&&fEvtHdr.fTrigBits==1")

newpage 2 2
title BBCAL diagnostic plots
helemID_sh -nostat
helemID_ps -nostat
hHEclus_eng_sh -logy -nostat
hHEclus_eng_ps -logy -nostat


newpage 1 3 
title HCAL ADC and TDC time and correlation
macro TreeDraw.C("sbs.hcal.clus.atime:sbs.hcal.clus.tdctime>>hHCAL_atime_vs_tdctime(150,-300,300,150,0,175)","sbs.hcal.clus.atime>0&&sbs.hcal.clus.tdctime>-1000&&fEvtHdr.fTrigBits==1","colz")
macro TreeDraw.C("sbs.hcal.clus.atime>>hHCAL_adctime(200,0,175)","fEvtHdr.fTrigBits==1&&sbs.hcal.clus.atime>0&&sbs.hcal.clus.e>0.35")
macro TreeDraw.C("sbs.hcal.clus.tdctime>>hHCAL_tdctime(200,-300,300)","fEvtHdr.fTrigBits==1");
#hATime_HCAL -drawopt colz -nostat
#hTDC_HCAL -drawopt colz -nostat
#hATime_HCAL -drawopt colz -nostat
#hTDC_HCAL -drawopt colz -nostat

newpage 3 2
title BigBite GEM layer efficiencies vs X
macro efficiency_layer.C("hdidhit_x_bb_gem_layer0","hshouldhit_x_bb_gem_layer0",0);
macro efficiency_layer.C("hdidhit_x_bb_gem_layer1","hshouldhit_x_bb_gem_layer1",1);
macro efficiency_layer.C("hdidhit_x_bb_gem_layer2","hshouldhit_x_bb_gem_layer2",2);
macro efficiency_layer.C("hdidhit_x_bb_gem_layer3","hshouldhit_x_bb_gem_layer3",3);
macro efficiency_layer.C("hdidhit_x_bb_gem_layer4","hshouldhit_x_bb_gem_layer4",4);

newpage 3 2
title BigBite GEM layer efficiencies vs Y
macro efficiency_layer.C("hdidhit_y_bb_gem_layer0","hshouldhit_y_bb_gem_layer0",0);
macro efficiency_layer.C("hdidhit_y_bb_gem_layer1","hshouldhit_y_bb_gem_layer1",1);
macro efficiency_layer.C("hdidhit_y_bb_gem_layer2","hshouldhit_y_bb_gem_layer2",2);
macro efficiency_layer.C("hdidhit_y_bb_gem_layer3","hshouldhit_y_bb_gem_layer3",3);
macro efficiency_layer.C("hdidhit_y_bb_gem_layer4","hshouldhit_y_bb_gem_layer4",4);

newpage 2 1 
title BigBite GEM Time Sample Peaking (good hits)
hbb_gem_iSampMaxU -nostat
hbb_gem_iSampMaxV -nostat

newpage 4 2 
title BigBite GEM ADC distributions by module
hbb_gem_m0_ADCmax_good_CM -logy -title "UVA U/V layer 0"
hbb_gem_m1_ADCmax_good_CM -logy -title "UVA U/V layer 1"
hbb_gem_m2_ADCmax_good_CM -logy -title "UVA U/V layer 2"
hbb_gem_m3_ADCmax_good_CM -logy -title "UVA U/V layer 3"
hbb_gem_m4_ADCmax_good_CM -logy -title "UVA X/Y 0 (top)"
hbb_gem_m5_ADCmax_good_CM -logy -title "UVA X/Y 1 (mid-hi)"
hbb_gem_m6_ADCmax_good_CM -logy -title "UVA X/Y 2 (mid-low)"
hbb_gem_m7_ADCmax_good_CM -logy -title "UVA X/Y 3 (bottom)"


#newpage 2 2
#title BigBite GEM layer efficiencies vs X, Y
#hefficiency_xy_bb_gem_layer0 -nostat -drawopt colz -title "U/V layer 0"
#hefficiency_xy_bb_gem_layer2 -nostat -drawopt colz -title "U/V layer 1"
#hefficiency_xy_bb_gem_layer3 -nostat -drawopt colz -title "U/V layer 2"
#hefficiency_xy_bb_gem_layer4 -nostat -drawopt colz -title "X/Y layer 3"

