#HCal Panguin configuration file 11.29.21

## plot directory where print output is placed (directory has to already exist)
#plotsdir $OUTFILES /group/halla/www/hallaweb/html/halog/screen_snapshots/replays/
## output format (pdf, gif, png). without this option we'll do pdf
plotFormat pdf

## set the color for the gui by name (like red, blue, white)
guicolor grey

# Prototype rootfilename.. overrides GetRootFileName.C
#protorootfile $ROOTFILES/hcal_XXXXX_10000.root
#rootfile /volatile/halla/sbs/seeds/rootfiles/hcal_354_-1.root
#rootfile /work/halla/sbs/seeds/HCAL/hcal/outFiles/gainMatchResults_run354.root
#rootfile /volatile/halla/sbs/seeds/rootfiles/hcal_673_10000.root
#protorootfile /adaqfs/home/a-onl/sbs/Rootfiles/hcal_XXXXX_50000.root
#protorootfile /chafs2/work1/sbs/Rootfiles/gmn_replayed_XXXXX_stream0_seg0_0.root
protorootfile /chafs2/work1/sbs/Rootfiles/hcal_trim_XXXXX_10000.root


# Uncomment the below line to monitor the fill of a ROOTfile.
#watchfile

### column row
newpage 2 2
	title ADC Signal Plots
        hATime_HCAL -drawopt colz -nostat
        hAmp_vs_elem_ID -drawopt colz -nostat
        hAmp_vs_int -drawopt colz -nostat
        hADCamp_vs_elem_hcal -drawopt colz -nostat

newpage 1 2
	title TDC vs Module
        hTDC_HCAL -drawopt colz -nostat
	hTDC_vs_clus_ID -drawopt colz -nostat

newpage 2 2
	title Cluster Plots
        hNClus_vs_elem_hcal -drawopt colz -nostat
        hNBlk_per_cluster -drawopt colz -nostat
        hE_vs_mult_clus -drawopt colz -nostat
        hClusE_vs_elem_hcal -drawopt colz -nostat

newpage 1 1
	title Cluster Heatmap
	hClus_pos_hcal -drawopt colz -nostat

newpage 1 2
	title Signals vs PMT
	hnev_ADC_vs_elem_hcal -drawopt colz -nostat
	hnev_TDC_vs_elem_ID -drawopt colz -nostat

newpage 1 1
	title Pedestal vs PMT
	hped_vs_elem_hcal -drawopt colz -nostat	

newpage 1 1
	title HCal BBCal Cluster Correlations
	macro bbcal_hcal_clust_corr.C

newpage 1 1
	title HCal BBCal Trigger Difference
	macro bbcal_hcal_trig.C
